* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b4cded;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #344966;
  margin: 0px 150px auto 150px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px 1px;
}

h1 {
  margin: 15px;
  text-align: center;
  color: white;
}

h2 {
  background-color: #f0f4ef;
  margin: 30px 400px 15px 400px;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 1px;
  text-align: center;
  text-decoration: underline;
}

button {
  width: 75px;
  height: auto;
  border-radius: 8px;
}

select {
  height: 28px;
}

.background {
  background-color: #85aadb;
}

.completeButton {
  background-color: #97ad62;
}

.deleteButton {
  background-color: #c94b4b;
  color: white;
}

.completed {
  background-color: #bfcc94;
}

footer {
  margin-top: 200px;
  background-color: #f0f4ef;
}
